
<app-navbar>
    <div class="page-content">
        <p-progressBar mode="indeterminate" *ngIf="cargando"></p-progressBar>
        <br *ngIf="cargando">

        <div class="container-buttons d-flex justify-content-end"
        >
            <button pButton icon="pi pi-trash" 
                class="p-button-danger buttonEliminar"
                *ngIf="esEdicion && comida.activo"
                (click)="abrirModalEliminarComida()"
            >
            </button>
            <button pButton icon="pi pi-save" 
                *ngIf="esEdicion && comida.activo || !esEdicion"
                label="Guardar" 
                (click)="guardar()"
                class="p-button-success btnSave"
                [disabled]="desactivarBtnGuardar() || cargando"
            >
            </button>
        </div>

        <div class="container_white">
            <div class="row" style="width: 100%;">
                <div class="col-12">
                    <h1>Datos Generales:</h1>
                </div>
                <div class="col-4">
                    <span class="p-float-label" style="width: 100%; margin: 1em">
                        <input
                          id="float-nombre"
                          class="full-wd greyInput"
                          pInputText
                          required
                          [(ngModel)]="comida.nombre"
                          name="comida_nombre"
                        />
                        <label for="float-nombre">Nombre</label>
                    </span>
                </div>

                <div class="col-4">
                    <span class="p-float-label" style="width: 100%; margin: 1em">
                        <input
                          id="float-codigo"
                          class="full-wd greyInput"
                          pInputText
                          required
                          name="comida_codigo"
                          [(ngModel)]="comida.codigo"
                        />
                        <label for="float-nombre">Código</label>
                    </span>
                </div>

                <div class="col-4">
                    <span class="p-float-label" style="width: 100%; margin: 1em">
                        <input
                          id="float-precio"
                          class="full-wd greyInput"
                          pInputText
                          type="number"
                          required
                          name="comida_precio"
                          [(ngModel)]="comida.precio"
                        />
                        <label for="float-nombre">Précio</label>
                    </span>
                </div>

                <div class="col-12">
                    <span class="p-float-label" style="width: 100%; margin: 1em">
                        <textarea id="descripcion" name="descripcion" 
                            class="form-control full-width-textarea" rows="4" style="width: 97%;" 
                            pInputTextarea [autoResize]="true" 
                            [(ngModel)]="comida.descripcion"
                        >
                        </textarea>

                        <label for="float-nombre">Descripción</label>
                    </span>
                </div>


            </div>
        </div>
    </div>
</app-navbar>

<p-toast></p-toast>

<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
