
<div class="container1">
    <div class="sidebar">
        <h3 (click)="navegarPortal()" class="title_navbar">Mariscos "San Martin"</h3>
        <hr>
        <ul>
            <li (click)="abrirModulo('usuarios')" class="container-item title_navbar"><i class="fas fa-user"></i><a> Usuarios</a></li>
            <li (click)="abrirModulo('clientes')" class="container-item title_navbar"><i class="fas fa-users"></i><a> Clientes</a></li>
            <li (click)="abrirModulo('comidas')" class="container-item title_navbar"><i class="pi pi-apple"></i><a> Comidas</a></li>
            <li (click)="abrirModulo('configuracion')" class="container-item title_navbar"><i class="fas fa-cogs"></i><a> Configuración</a></li>
            <li (click)="abrirModulo('ventas')" class="container-item title_navbar"><i class="fas fa-cash-register"></i><a> Ventas</a></li>
            <li (click)="abrirModulo('pedidos')" class="container-item title_navbar"><i class="fas fa-edit"></i><a> Pedidos</a></li>
            <li (click)="abrirModulo('reportes')" class="container-item title_navbar"><i class="fas fa-file-pdf"></i><a> Reportes</a></li>

        </ul>
    </div>

    <div class="main-content">
        <div class="menu-bar">
            <h2 (click)="navegarPortal()" class="title_navbar">INICIO</h2>
            <!-- <button class="user-button"><i class="fas fa-user"></i></button> -->
            <div class="dropdown" *ngIf="mostrarBtnUser">
                <button class="user-button" (click)="mostrarBtnClose()"><i class="fas fa-user"></i></button>
                <div class="dropdown-content" *ngIf="mostrarDropdown">
                    <div class="option">
                        <span (click)="abrirModalPerfil()">Editar Perfil</span>
                    </div>

                    <div class="option">
                        <span (click)="cerrarSesion()">Cerrar Sesión</span>
                    </div>
                </div>
            </div>
            <button (click)="visibleSidebar=true" pButton class="btnMenu" icon="pi pi-bars" *ngIf="mostrarBtnMenu"></button>

        </div>

        <div class="container_general">

            <p-breadcrumb class="max-w-full breadcrumb-style" [model]="itemsBreadCrumb" [home]="home"></p-breadcrumb>

            <ng-content select=".page-content">
                
            </ng-content>

        </div>

        <footer>
            <ng-content select=".footer-content">

            </ng-content>
        </footer>
    </div>
</div>

<p-sidebar [(visible)]="visibleSidebar" [baseZIndex]="10000" [modal]="true" position="right" styleClass="ui-sidebar-md">
    <ng-template pTemplate="header">
        <div class="container_header_sidebar">
            <h3 (click)="navegarPortal()" class="title_navbar">Mariscos "San Martin"</h3>
        </div>
    </ng-template>
    <ul>
      <li (click)="abrirModulo('usuarios'); visibleSidebar=false" class="container-item title_navbar item_sidebar"><i class="fas fa-user"></i><a> Usuarios</a></li>
      <li (click)="abrirModulo('clientes'); visibleSidebar=false" class="container-item title_navbar item_sidebar"><i class="fas fa-users"></i><a> Clientes</a></li>
      <li (click)="abrirModulo('comidas'); visibleSidebar=false" class="container-item title_navbar item_sidebar"><i class="pi pi-apple"></i><a> Comidas</a></li>
      <li (click)="abrirModulo('configuracion'); visibleSidebar=false" class="container-item title_navbar item_sidebar"><i class="fas fa-cogs"></i><a> Configuración</a></li>
      <li (click)="abrirModulo('ventas'); visibleSidebar=false" class="container-item title_navbar item_sidebar"><i class="fas fa-cash-register"></i><a> Ventas</a></li>
      <li (click)="abrirModulo('pedidos'); visibleSidebar=false" class="container-item title_navbar item_sidebar"><i class="fas fa-edit"></i><a> Pedidos</a></li>
      <li (click)="abrirModulo('reportes'); visibleSidebar=false" class="container-item title_navbar item_sidebar"><i class="fas fa-file-pdf"></i><a> Reportes</a></li>
      <li (click)="cerrarSesion(); visibleSidebar=false;" class="container-item title_navbar btnCloseSesion item_sidebar"><i class="fas fa-sign-out-alt"></i><a> Cerrar Sesión</a></li>
    </ul>
</p-sidebar>