<app-navbar>
    <div class="page-content">

        <div class="button-container">
            <button type="button" icon="pi pi-plus" 
                pButton label="Agregar" 
                class="p-button other-button"
                (click)="redirigirAlta()"
            >
            </button>
        </div>
        
        
        <p-table
            [value]="usuarios"
            [paginator]="true"
            [rows]="30"
            [showCurrentPageReport]="true"
            [tableStyle]="{ 'min-width': '50rem', 'padding': '15px' }"
            currentPageReportTemplate="Mostrando {first} a {last}. {totalRecords} registros totales."
            [rowsPerPageOptions]="[5, 10, 25, 50]"
            [sortField]="orderColumn"
            [sortOrder]="orderType"
            class="tableListado"
        >
            <ng-template pTemplate="header" >
                <tr>
                    <th style="width:4%" class="column">
                        #
                        <button pButton (click)="orderTable('id_usuario')" class="btnArrow">
                            <i class="fas fa-arrow-up flecha" [ngClass]="esOrderIdUsuarioAsc ? 'flecha-activa' : 'flecha-inactiva'"></i>
                            <i class="fas fa-arrow-down" [ngClass]="esOrderIdUsuarioDesc ? 'flecha-activa' : 'flecha-inactiva'"></i>
                        </button>
                    </th>
                    <th style="width:4%" class="column">
                        Nombre
                        <button pButton (click)="orderTable('nombre')" class="btnArrow">
                            <i class="fas fa-arrow-up flecha" [ngClass]="esOrderNombreAsc ? 'flecha-activa' : 'flecha-inactiva'"></i>
                            <i class="fas fa-arrow-down" [ngClass]="esOrderNombreDesc ? 'flecha-activa' : 'flecha-inactiva'"></i>
                        </button>
                    </th>
                    <th style="width:4%" class="column">
                        Correo
                        <button pButton (click)="orderTable('correo')" class="btnArrow">
                            <i class="fas fa-arrow-up flecha" [ngClass]="esOrderCorreoAsc ? 'flecha-activa' : 'flecha-inactiva'"></i>
                            <i class="fas fa-arrow-down" [ngClass]="esOrderCorreoDesc ? 'flecha-activa' : 'flecha-inactiva'"></i>
                        </button>
                    </th>
                    <th style="width:4%" class="column">
                        Teléfono
                        <button pButton (click)="orderTable('telefono')" class="btnArrow">
                            <i class="fas fa-arrow-up flecha" [ngClass]="esOrderTelefonoAsc ? 'flecha-activa' : 'flecha-inactiva'"></i>
                            <i class="fas fa-arrow-down" [ngClass]="esOrderTelefonoDesc ? 'flecha-activa' : 'flecha-inactiva'"></i>
                        </button>
                    </th>
                    <th style="width:4%" class="column">
                        Usuario
                        <button pButton (click)="orderTable('cuenta_usuario')" class="btnArrow">
                            <i class="fas fa-arrow-up flecha" [ngClass]="esOrderUsuarioAsc ? 'flecha-activa' : 'flecha-inactiva'"></i>
                            <i class="fas fa-arrow-down" [ngClass]="esOrderUsuarioDesc ? 'flecha-activa' : 'flecha-inactiva'"></i>
                        </button>
                    </th>
                    <th style="width:4%" class="column">
                        Detalle
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-i>
                <tr>
                    <td class="rows">{{ i.id_usuario }}</td>
                    <td class="rows">{{ i.nombre }}</td>
                    <td class="rows">{{ i.correo }}</td>
                    <td class="rows">{{ i.telefono }}</td>
                    <td class="rows">{{ i.cuenta_usuario }}</td>
                    <td class="rows">
                        <div class="row">
                            <div class="col-6">
                                <button pButton class="p-button-warning"
                                icon="fas fa-key" (click)="redirigirPermisosId(i.id_usuario)"
                                >
                                </button>
                            </div>
                            <div class="col-6">
                                <button pButton class="p-button-success"
                                icon="fas fa-edit" (click)="redirigirDetalleId(i.id_usuario)"
                                >
                                </button>
                            </div>
                        </div>
                        
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
        
            </ng-template>
            <ng-template pTemplate="paginatorright">
        
            </ng-template>
        </p-table>
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    </div>
</app-navbar>

<p-toast></p-toast>
