
<app-navbar>
    <div class="page-content">
        <p-progressBar mode="indeterminate" *ngIf="cargando"></p-progressBar>
        <br *ngIf="cargando">

        <div class="container-buttons d-flex justify-content-end"
        >
            <button pButton icon="pi pi-trash" 
                class="p-button-danger buttonEliminar"
                *ngIf="esEdicion && cliente.activo"
                (click)="abrirModalEliminarCliente()"
            >
            </button>
            <button pButton icon="pi pi-save" 
                *ngIf="esEdicion && cliente.activo || !esEdicion"
                label="Guardar" 
                (click)="guardar()"
                class="p-button-success btnSave"
                [disabled]="desactivarBtnGuardar() || cargando"
            >
            </button>
        </div>

        <div class="container_white">
            <div class="row">
                <div class="col-12">
                    <h1>Datos Generales:</h1>
                </div>
                <div class="col-6">
                    <span class="p-float-label" style="width: 100%; margin: 1em">
                        <input
                          id="float-nombre"
                          class="full-wd greyInput"
                          pInputText
                          required
                          [(ngModel)]="cliente.nombre"
                          name="cli_nombre"
                        />
                        <label for="float-nombre">Nombre</label>
                    </span>
                </div>

                <div class="col-6">
                    <span class="p-float-label" style="width: 100%; margin: 1em">
                        <input
                          id="float-telefono"
                          class="full-wd greyInput"
                          pInputText
                          type="number"
                          required
                          name="cli_telefono"
                          [(ngModel)]="cliente.telefono"
                        />
                        <label for="float-nombre">Teléfono</label>
                    </span>
                </div>

                <div class="col-12">
                    <span class="p-float-label" style="width: 100%; margin: 1em">
                        <textarea id="observaciones" name="observaciones" 
                            class="form-control full-width-textarea" rows="4" style="width: 95%;" 
                            pInputTextarea [autoResize]="true" 
                            [(ngModel)]="cliente.direccion"
                        >
                        </textarea>

                        <label for="float-nombre">Dirección</label>
                    </span>
                </div>


            </div>
        </div>
    </div>
</app-navbar>

<p-toast></p-toast>

<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
